body {
    background: linear-gradient(176deg,rgba(42, 123, 155, 1)0%, rgba(87, 199, 133, 1) 50%, rgba(237, 221, 83, 1)100%);
}
h1 {
    color: purple;
    background-color: yellow;
}
.list {
    float: left;
    width: 45%;
    color: #7b177b;
    border: 3px dashed yellow;
    background-color: aquamarine;
    padding: 14px;
}

/* Media Queties */
 @media screen and (max-width: 480px) {
  body {
    background: lightgreen;
  }
     .list {
         width: 100%;
}
}